@import '../materialize/sass/materialize';
@import 'profile';
// APP.CSS
.below-nav {
  margin-top: 40px;
}
top-nav {
  position: absolute;
  top: 0px;
  width: 100%;
  a.brand-logo {
    left: 15px;
  }
}

// #############################
// # Utility classes
// #############################
.material {
  padding: 20px;
  background: white;
}
.collapsible-body {
  background: white
}
body {
  top: 0;
  position: absolute;
  width: 100%;
}
.fluid {
  width: 100%;
}
.transparen {
  opacity: 50%;
}
// #############################
// # Overrides
// #############################
.card {
  .card-image {
    .card-title {
      font-weight: 600;
      font-size: 34px;
      width: 100%;
      background: transparentize(black,.5);
    }
  }
}
